@{
    ViewBag.Title = "PostError";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div style="background-color: #2e3f51; padding-top: 150px; padding-bottom: 150px">
    <div class="center">
        <img src="~/Images/Error/1397762744_logo.jpg" />
        <h2>He's dead, Jim!</h2>
        <p style="color: #ffffff">Something went wrong with displaying a web page.</p>
        <p>It has been reported</p>
    </div>
</div>
